.root {
  display: flex;

  &[aria-orientation=vertical] {
    flex-direction: column;
  }
}
.step {
  counter-reset: step;
  position: relative;
  display: inline-grid;
  width: 100%;
  justify-items: center;
  gap: 0.5rem;

  &::before{
    position: absolute;
    content: " ";
    right: 50%;
    top: 1.25rem;
    z-index: -10;
    display: grid;
    height: 0.125rem;
    width: 100%;
    align-items: center;
  }
  &:first-child::before {
    display: none;
  }
}

.line {
  position: absolute;
  right: 50%;
  top: 1.25rem;
  z-index: -10;
  display: grid;
  height: 0.125rem;
  width: 100%;
  align-items: center;
}

.indicator {
  display: grid;
  place-items: center;
}
